<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ partial "title.txt" . }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="canonical" href="{{ .Permalink }}">
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	</head>
	<body>
		<header>
			<h1>시몽</h1>
			<p>Just a tech.</p>
		</header>

		<div id="main">
			<nav>
				<a href="{{ .Site.BaseURL }}">home</a> &middot;
				<a href="{{ .Site.BaseURL }}blog">blog</a> &middot;
				<a href="https://github.com/emersion">github</a> &middot;
				<a href="https://twitter.com/emersion_fr">twitter</a> &middot;
				<a href="https://keybase.io/emersion">keybase</a> &middot;
				<a href="http://emersion-fr.deviantart.com">deviantart</a>
			</nav>

			<main>
