<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ partial "title.txt" . }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="canonical" href="{{ .Permalink }}">
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

		<link rel="stylesheet" href="{{ .Site.BaseURL }}node_modules/normalize.css/normalize.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}node_modules/firacode/distr/fira_code.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}node_modules/nanum-gothic-coding/nanum-gothic-coding.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	</head>
	<body>
