<nav>
	{{- if not .IsHome }}<a href="{{ .Site.BaseURL }}">home</a> &middot;{{ end }}
	<a href="{{ .Site.BaseURL }}blog">blog</a> &middot;
	<a rel="me" href="https://github.com/emersion">github</a> &middot;
	<a href="{{ .Site.BaseURL }}.well-known/openpgpkey/hu/dj3498u4hyyarh35rkjfnghbjxug6b19" title="PGP key 34FF9526CFEF0E97A340E2E40FDE7BE0E88F5E48" download="emersion.pgp">pgp</a> &middot;
	<a rel="me" href="https://octodon.social/@emersion">mastodon</a> &middot;
	<a rel="me" href="http://emersion-fr.deviantart.com">deviantart</a>
</nav>
