{{ partial "header.html" . }}

<article>
	<header>
		<h1>{{ .Title }}</h1>
		<time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{- .Date.Format "2006-01-02" -}}</time>
	</header>

	{{ .Content }}
</article>

<div id="disqus_thread"></div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'emersion-fr';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{{ partial "footer.html" . }}
