{{ partial "header.html" . }}

<article {{ if .Params.lang }}lang="{{- .Params.lang -}}"{{ end }}>
	<header>
		<h1>{{ .Title }}</h1>
		<time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{- .Date.Format "2006-01-02" -}}</time>
	</header>

	{{ .Content }}
</article>

{{ if eq .Params.lang "en" }}
<hr>

<p class="muted">
	Questions, comments? Please use <a href="https://lists.sr.ht/%7Eemersion/public-inbox">my public inbox</a> by sending a plain-text email to <a href="mailto:~emersion/public-inbox@lists.sr.ht?subject={{ .Title | safeURL }}">~emersion/public-inbox@lists.sr.ht</a>.
</p>
{{ end }}

{{ partial "footer.html" . }}
